/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/a.exe
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Board.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-8ba55b886b485e920b74.json
/cmake-build-debug/CMakeFiles/4.0.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bd66e4f16075cd0bc31b.json
/cmake-build-debug/CMakeFiles/4.0.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-89a3e0c7bf29f55b4d5d.json
/cmake-build-debug/CMakeFiles/TDP.dir/compiler_depend.internal
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Game.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/index-2025-11-11T13-06-01-0535.json
/cmake-build-debug/CMakeFiles/InstallScripts.json
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/main.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/objects.a
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Player.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/shelved.patch
/cmake-build-debug/.cmake/api/v1/reply/target-TDP-Debug-0a03db2e3cd1d96fa1aa.json
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/TDP.exe
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Tile.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Board.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Game.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/main.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/objects.a
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Player.cpp.obj
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/TDP.exe
/.idea/shelf/Uncommitted_changes_before_Update_at_11_11_2025_15_19_[Changes]/Tile.cpp.obj
